<launch>

  <node pkg="hphs_aede" exec="explorer" name="hphs_explorer" output="screen">
    <remap from="/map" to="/projected_map" />
  </node>

  <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen"
      args="-d $(find-pkg-share hphs_aede)/rviz/visualization.rviz --ros-args --log-level WARN" />

</launch>
